* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: #fff;
  font-weight: bold;
}

.navbar-brand {
  margin-left: 15px; 
}

.navbar-header {
  float: none;
}

.navbar-collapse#myNavbar {
  height: 100vh;
  background-color: rgba(39, 2, 2, 0.194); 
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin: 0; 
}

.navbar-nav>li {
  margin-bottom: 10px; 
}

.navbar-nav>li>a {
  padding: 15px; 
  color: #fff; 
  text-align: center;
}

.tall-section {
  height: 1000px; 
  background-color: rgb(225, 221, 221); 
  margin: 0 15px;
}

